<div>
  <h1>Upcoming Angular Events</h1>
  <hr />
  <!-- (eventClick)="handleEventClicked($event)" -->
  <app-event-thumbnail
    *ngFor="let event of events"
    #thumbnail
    (click)="handleThumbnailClick(event.name)"
    [event]="event"
  ></app-event-thumbnail>
  <h3>{{ thumbnail.someProperty }}</h3>
  <button class="btn btn-primary" (click)="thumbnail.logFoo()">
    Log me some foo
  </button>
</div>
