<h1>Login</h1>
<hr />
<div class="col-md-4">
  <form
    #loginForm="ngForm"
    autocomplete="off"
    (ngSubmit)="login(loginForm.value)"
    novalidate
  >
    <div class="form-group">
      <label for="userName">User Name:</label>
      <em
        *ngIf="
          loginForm.controls.userName?.invalid &&
          (loginForm.controls.userName?.touched || mouseoverLogin)
        "
        >Required</em
      >

      <!-- (input)="userName = $event.target.value" -->
      <input
        [(ngModel)]="userName"
        name="userName"
        id="userName"
        required
        type="text"
        class="form-control"
        placeholder="User Name..."
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <em
        *ngIf="
          loginForm.controls.password?.invalid &&
          (loginForm.controls.password?.touched || mouseoverLogin)
        "
        >Required</em
      >
      <input
        [(ngModel)]="password"
        name="password"
        id="password"
        required
        type="password"
        class="form-control"
        placeholder="Password..."
      />
    </div>
    <span
      (mouseenter)="mouseoverLogin = true"
      (mouseleave)="mouseoverLogin = false"
    >
      <button
        type="submit"
        [disabled]="loginForm.invalid"
        class="btn btn-primary"
      >
        Login
      </button></span
    >
    <button type="button" class="btn btn-default" (click)="cancel()">
      Cancel
    </button>
  </form>
</div>

<div>
  loginForm Valid {{ loginForm.valid }}<br />
  loginForm invalid {{ loginForm.invalid }}<br />
  login dirty {{ loginForm.dirty }}<br />
  login pristine {{ loginForm.pristine }}<br />
  login submitted {{ loginForm.submitted }}<br />
  login touched {{ loginForm.touched }}<br />
  login untouched {{ loginForm.untouched }}<br />
</div>
